<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_inventoryhub_root"
              name="InventoryHub"
              sequence="100"/>

    <menuitem id="menu_inventoryhub_imports"
              name="Imported Inventories"
              parent="menu_inventoryhub_root"
              action="action_inventoryhub_inventory"
              sequence="10"/>
</odoo>
